.profile-grid {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:2rem;
}
.profile {
    padding:2rem;
    border-radius:0.8rem;
    border:1px solid var(--black-15);

    &-user {
        display:flex;
        align-items:center;
        gap:2rem;
    }
}
.profile-user-data {
    display:flex;
    gap:2rem;
    flex-direction: column;
}
.profile-data {
    padding:2.2rem;
    border:1px solid var(--black-15);
    border-radius:0.8rem;
}