:root {
  --black: #000;
  --black-06: #0F0F0F;
  --black-08: #141414;
  --black-10: #1A1A1A;
  --black-12: #1F1F1F;
  --black-15: #262626;
  --black-20: #333333;

  --grey-60: #999999;

  --primary-200: #7CEBD7;
  --primary-400: #2CDFBE;
  --primary-600: #03B696;

  --transparent: rgba(0,0,0,0);

}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--black-08);
  color:white;
  font-size:1.6rem;
}
.app-section {
  padding-block: 6rem;
  padding-inline: 12rem;
  gap:2.4rem;
  display:flex;
  flex-direction: column;
}

.app-container {
  width:100%;
  max-width:128rem;
  display:flex;
  flex-direction:column;

}
h2 {
  font-size:3.8rem;
  margin:5rem 0;
}

.sliders-wrapper {
  padding:3rem 5rem;
  border:1px solid var(--black-15);
  border-radius:0.8rem;
  position:relative;
  display:flex;
  flex-direction:column;
  gap:5rem;
}

.sliders-wrapper::before {
  content: attr(data-attr);
  position:absolute;
  padding:1rem 2rem;
  background-color:var(--primary-400);
  font-size:2rem;
  top:0;
  transform:translateY(-50%);
  border-radius:0.8rem;
  color:var(--black);

}